.project {
  margin-bottom: 100px;
}
.project__buttons {
  display: flex;
  gap: 0 30px;
  margin: 20px auto;
  justify-content: center;
}
.project__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
}
@media (max-width: 992px) {
  .project__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .project__item {
    max-width: 700px;
  }
  .project__inner {
    /* margin: 0 auto; */
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .project__btn {
    padding: 25px 36px;
  }
  .project__buttons {
    flex-wrap: wrap;
  }
}